*~
/zsh/.zprezto
/zsh/.zhistory
/zsh/.zlogin
/zsh/.zlogout
/zsh/.zprofile
/zsh/.zshenv
/zsh/.zcompdump
/zsh/.zshrc
/zsh/.zcompdump.zwc
/zsh/.zpreztorc
/zsh/.zcompcache/
/zsh/.zsh_history
/zsh/.zsh_history
/zsh/.zfunctions/
